// header
.page__header
	.container
		p(style="font-family: fontmain") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontmain; font-weight: bold") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontsecond") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontsecond; font-weight: bold") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontthird") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontthird; font-weight: bold") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontfour") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontfour; font-weight: bold") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontfive") Сьешь еще этих мягких французсих булок
		p(style="font-family: fontfive; font-weight: bold") Сьешь еще этих мягких французсих булок