@media (max-width: 1750px){
	.page__header .tel.absolute{
		right: 90px;
	}
	.steps .big{
		font-size: 8.5em;
		top: 180px;
	}
}
@media (max-width: 1500px){
	.page__header .tel.absolute{
		display: none;
	}
	.page__header .tel.static{
		display: block;
		float: left;
		clear: left;
	}
	.page__tovar{
		&--kuhni{
			h2.big{
				transform: none;
				left: 0;
				right: 0;
				text-align: center;
				top: 230px;
				z-index: -1;
				width: 100%;
				margin: 0;
				font-size: 7em;
			}
		}
		&--divani{
			min-height: 0;
			padding-bottom: 150px;
			h2.big{
				margin: 0;
				transform: none;
				left: 0;
				right: 0;
				top: 180px;
				text-align: center;
				width: 100%;
				font-size: 7em;
			}
			.h2{
				margin-bottom: 150px;
			}
		}
	}
	.steps .big{
		font-size: 7em;
		top: 180px;
	}
}